body {
  margin: 0px;
}
.App {
  text-align: center;
  display: grid;
  grid-template: 1fr 1fr 8fr 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";

  background: rgba(219, 224, 229, 1);
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
.sideForm {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}
#sideButton {
  margin-left: 20%;
  margin-right: 20%;
}

textarea {
  resize: none;
}

.header {
  grid-area: header;
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.northcodersHeader {
  max-height: 60px;
}
.navBar {
  grid-area: nav;
  border-top: 1px solid rgb(137, 137, 137);
  border-bottom: 1px solid rgb(137, 137, 137);
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50 px;
  padding-top: 0.5%;
  padding-left: 10%;
  padding-bottom: 0.5%;
}
.loginArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: "login" "feedback";
}
.loginForm {
  grid-area: "login";
}
.button {
  background: rgb(49, 121, 204);
  color: white;
  border-radius: 3px 3px 3px 3px;
  font-size: 11pt;
  margin: 4px 4px 4px 4px;
  border: none;
}
.button:hover {
  background: rgb(77, 146, 213);
  text-decoration: none;
}
.longInput {
  width: 75%;
  height: 100px;
}
.queryBar {
  background-color: white;
  height: 3%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.queryItem {
  margin-left: 1em;
  margin-right: 1em;
  height: 80%;
}
.topic {
  margin-left: 10px;
}
.falseIncorrectUsername {
  grid-area: "feedback";
  margin: 0;
  visibility: hidden;
}
.trueIncorrectUsername {
  grid-area: "feedback";
  margin: 0;
  -webkit-animation: bounce-right 0.8s both;
  animation: bounce-right 0.8s both;
  font-size: 75%;
}
.reminder {
  -webkit-animation: bounce-right 0.8s both;
  animation: bounce-right 0.8s both;
}
.main {
  grid-area: main;
  display: flex;
}

.content {
  height: 100vh;
  overflow: scroll;
  flex: 4;
}
.articleCard {
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  border-radius: 3px 3px 3px 3px;
  border: solid 1px rgb(179, 179, 179);
  text-align: justify;
}
.newArticleMessage {
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.articleCard:hover {
  border: solid 1px rgb(137, 137, 137);
}
.articleInfo {
  text-align: justify;
  flex: 15;
  flex-basis: 100%;
  padding-right: 2%;
  padding-left: 2%;
}
.homeLink {
  background: rgb(49, 121, 204);
  padding: 5px;
  border-radius: 3px 3px 3px 3px;
  color: white;
}
.homeLink:hover {
  background: rgb(77, 146, 213);
  text-decoration: none;
}
.articleBody {
  padding: 2%;
}
.titleAuthorLine {
  justify-content: left;
  font-size: 0.75em;
  color: grey;
}
.topicLink {
  color: black;
  font-weight: bold;
}

.votingArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  background: rgb(248, 249, 250);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.unsubmittedVote {
  width: 15px;
  height: 15px;
  filter: grayscale(100%);
}
.unsubmittedVote:hover {
  filter: none;
  background: none;
}

.submittedVote {
  width: 15px;
  height: 15px;
  filter: none;
}
.voteButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0;
}

.footer {
  grid-area: footer;
  margin: 0;
}

.sideBar {
  display: flex;
  margin: 0;
  flex-direction: column;
  flex: 2;
}
.avatar {
  width: 30px;
  height: auto;
}

.sideBarForm {
  background: white;
  border-radius: 3px 3px 3px 3px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2018-12-30 15:17:8
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-right
 * ----------------------------------------
 */
@-webkit-keyframes bounce-right {
  0% {
    -webkit-transform: translateX(48px);
    transform: translateX(48px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(13px);
    transform: translateX(13px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(6.5px);
    transform: translateX(6.5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-right {
  0% {
    -webkit-transform: translateX(48px);
    transform: translateX(48px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(13px);
    transform: translateX(13px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(6.5px);
    transform: translateX(6.5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
